body,
html {
    margin: 0;
    height: 100%;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 1pt;
    font-size: 30pt;
    margin-bottom: 15px;
}

#table {
    display: table;
    
}

#centeralign {
    display: table-cell;
    vertical-align: middle;
}